/* Global settings of buttons */

.button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Individual types of buttons */

.wider-button {
    grid-column: 1 / 3;
}

.arith-button {
    background-color: rgb(255, 178, 102);
    box-shadow: 3px 3px 1px rgb(255, 128, 0);
}

.digit-button {
    background-color: rgb(192, 192, 192);
    box-shadow: 3px 3px 1px rgb(128, 128, 128);
}

.other-button {
    background-color: rgb(102, 102, 255);
    box-shadow: 3px 3px 1px rgb(0, 0, 255);
}

/* Responses to user interactions */

.arith-button:hover {
    background-color: rgb(255, 204, 153);
}

.digit-button:hover {
    background-color: rgb(224, 224, 224);
}

.other-button:hover {
    background-color: rgb(153, 153, 255);
}

.arith-button:focus {
    background-color: rgb(255, 153, 51);
    transform: translateY(2px);
    text-shadow: none;
    box-shadow: none;
    outline: none;
}

.digit-button:focus {
    background-color: rgb(160, 160, 160);
    transform: translateY(2px);
    text-shadow: none;
    box-shadow: none;
    outline: none;
}

.other-button:focus {
    background-color: rgb(51, 51, 255);
    transform: translateY(2px);
    text-shadow: none;
    box-shadow: none;
    outline: none;
}
